In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
df=pd.read_csv("DATA-FINAL.csv")

In [ ]:
df.head()

In [ ]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(axis=0)

In [ ]:
df=df[:500]

In [32]:
df1=df.drop(['Regd No','Height','Weight','Termid','ScholarType','Direction','Gender','Medium','CourseType','ProgramType','MHRDName','Course','CA_1','CA_2','CA_3','CA_4'],axis=1)

In [33]:
df1.shape

(500, 6)

In [34]:
df1.fillna(df1.mean())

    Grade      CA_100     MTT_50    ETT_100    ETP_100  Course_Att
0       O   87.000000  39.000000  82.000000  89.000000    88.00000
1      A+   87.000000  47.000000  65.000000  85.000000    82.00000
2      B+   84.000000  29.000000  63.000000  77.000000    76.00000
3      A+   64.397938  25.952077  53.179012  82.000000    74.00000
4      A+   87.000000  34.000000  68.000000  89.000000    76.00000
5      A+   97.000000  33.000000  75.000000  96.000000    80.00000
6      A+   64.397938  25.952077  53.179012  83.000000    79.14823
7       A   74.000000  32.000000  65.000000  84.000000    77.00000
8      A+   82.000000  38.000000  58.000000  69.548936    75.00000
9      B+   90.000000  27.000000  56.000000  74.000000    73.00000
10     A+   87.000000  34.000000  76.000000  81.000000    80.00000
11      O  100.000000  39.000000  93.000000  97.000000    74.00000
12     A+   87.000000  25.952077  53.179012  69.000000    79.14823
13      F    0.000000  25.952077  53.179012   0.000000    79.14823
14      E    0.000000  25.952077   0.000000  69.548936     0.00000
15      E    0.000000   0.000000   0.000000  69.548936     0.00000
16      E    0.000000  25.952077  53.179012   0.000000     0.00000
17      A   89.000000  25.952077  53.179012  64.000000    79.14823
18      C   57.000000  15.000000  36.000000  69.548936    85.00000
19      D   40.000000  32.000000  30.000000  69.548936    66.00000
20      E   72.000000  14.000000   6.000000  69.548936    77.00000
21      C   60.000000  30.000000  36.000000  69.548936    70.00000
22      E   55.000000  25.952077  53.179012  15.000000    98.00000
23      A   82.000000  25.952077  53.179012  80.000000   100.00000
24      D   50.000000  25.000000  19.000000  69.548936    88.00000
25      C   52.000000  22.000000  43.000000  69.548936    76.00000
26      B   47.000000  25.000000  63.000000  69.548936    82.00000
27     B+   72.000000  29.000000  49.000000  69.548936    83.00000
28      A   81.000000  25.952077  53.179012  84.000000    77.00000
29     B+   64.000000  35.000000  68.000000  69.548936    86.00000
..    ...         ...        ...        ...        ...         ...
470    A+   75.000000  25.952077  53.179012  78.000000    93.00000
471     O  100.000000  25.952077  53.179012  87.000000    93.00000
472     O   78.000000  25.952077  53.179012  85.000000    79.14823
473    B+   90.000000  45.000000  42.000000  69.548936    80.00000
474    A+   91.000000  25.952077  53.179012  80.000000    29.00000
475     A   80.000000  25.952077  53.179012  71.000000    79.14823
476     A   68.000000  37.000000  71.000000  69.548936    93.00000
477     A   37.000000  35.000000  80.000000  69.548936    93.00000
478    A+   87.000000  25.952077  53.179012  84.000000    97.00000
479     A   80.000000  32.000000  78.000000  69.548936    95.00000
480    A+   89.000000  38.000000  78.000000  69.548936    89.00000
481     A   82.000000  25.952077  53.179012  81.000000    92.00000
482    B+   62.000000  29.000000  56.000000  69.548936    95.00000
483     A   84.000000  29.000000  72.000000  69.548936    92.00000
484    A+   90.000000  37.000000  73.000000  69.548936    93.00000
485     E   12.000000  10.000000  25.000000  69.548936    76.00000
486     E   47.000000  10.000000  25.000000  69.548936    78.00000
487     C   70.000000  20.000000  35.000000  69.548936    74.00000
488     E   37.000000   5.000000  15.000000  69.548936    77.00000
489     E   32.000000   8.000000  19.000000  69.548936    76.00000
490     B   68.000000  25.952077  53.179012  50.000000    77.00000
491     D   27.000000   7.000000  52.000000  69.548936    79.00000
492     B   60.000000  25.952077  53.179012  58.000000    78.00000
493     A   52.000000  25.952077  53.179012  79.000000    87.00000
494     E   25.000000   8.000000  26.000000  69.548936    75.00000
495     C   54.000000  10.000000  50.000000  69.548936    88.00000
496     D   52.000000  27.000000  23.000000  69.548936    86.00000
497     A   79.000000  24.000000  75.000000  69.548936    77.00000
498     D    9.000000  24.000000  56.000000  69.548936    55.00000
499    A+   77.000000  22.000000  66.000000  69.548936    83.00000

[500 rows x 6 columns]

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
le=LabelEncoder()
df1['Grade']=le.fit_transform(df1['Grade'])

In [37]:
df1['Grade']

0      8
1      1
2      3
3      1
4      1
5      1
6      1
7      0
8      1
9      3
10     1
11     8
12     1
13     7
14     6
15     6
16     6
17     0
18     4
19     5
20     6
21     4
22     6
23     0
24     5
25     4
26     2
27     3
28     0
29     3
      ..
470    1
471    8
472    8
473    3
474    1
475    0
476    0
477    0
478    1
479    0
480    1
481    0
482    3
483    0
484    1
485    6
486    6
487    4
488    6
489    6
490    2
491    5
492    2
493    0
494    6
495    4
496    5
497    0
498    5
499    1
Name: Grade, Length: 500, dtype: int32

In [38]:
df1.dropna()

     Grade  CA_100  MTT_50  ETT_100  ETP_100  Course_Att
0        8    87.0    39.0     82.0     89.0        88.0
1        1    87.0    47.0     65.0     85.0        82.0
2        3    84.0    29.0     63.0     77.0        76.0
4        1    87.0    34.0     68.0     89.0        76.0
5        1    97.0    33.0     75.0     96.0        80.0
7        0    74.0    32.0     65.0     84.0        77.0
9        3    90.0    27.0     56.0     74.0        73.0
10       1    87.0    34.0     76.0     81.0        80.0
11       8   100.0    39.0     93.0     97.0        74.0
66       0    72.0    30.0     75.0     86.0        84.0
67       1    80.0    40.0     85.0     79.0        78.0
68       1    87.0    29.0     82.0     89.0        80.0
69       1    90.0    34.0     89.0     84.0        78.0
70       0    74.0    34.0     69.0     81.0        79.0
71       1    90.0    38.0     70.0     74.0        78.0
73       3    87.0    35.0     68.0     90.0        79.0
75       3    99.0    22.0     52.0     97.0        75.0
76       2    87.0    32.0     59.0     73.0        72.0
77       3    94.0    37.0     72.0     71.0        83.0
79       3    84.0    25.0     80.0     93.0        71.0
80       3    84.0    25.0     72.0     80.0        67.0
81       3    74.0    17.0     69.0     78.0        56.0
82       3    84.0    32.0     75.0     80.0        90.0
101      1    67.0    40.0     75.0     87.0        75.0
102      1    80.0    42.0     70.0     81.0        88.0
103      0    94.0    43.0     68.0     84.0        76.0
105      1    90.0    40.0     76.0     89.0        87.0
106      8    60.0    42.0     90.0     92.0        78.0
108      1    93.0    44.0     66.0     93.0        67.0
110      3    74.0    34.0     55.0     73.0        67.0
111      8    90.0    44.0     73.0     91.0        80.0
112      1    80.0    33.0     78.0     80.0        64.0
161      3    87.0    22.0     56.0     71.0        87.0
162      0    70.0    34.0     58.0     63.0        73.0
163      2    74.0    25.0     56.0     60.0        67.0
165      5    87.0    18.0     42.0     60.0        66.0
166      3    84.0    18.0     59.0     87.0        73.0
168      1    74.0    38.0     65.0     87.0        72.0
170      6    80.0    23.0     25.0     59.0        84.0
171      2    94.0    24.0     43.0     83.0        70.0
172      0    94.0    28.0     60.0     86.0        73.0
207      0    87.0    30.0     60.0     82.0        83.0
208      2    80.0    28.0     53.0     80.0        84.0
209      0    87.0    44.0     52.0     75.0        68.0
210      2    80.0    35.0     52.0     66.0        65.0
212      0    87.0    38.0     66.0     77.0       100.0
213      0    94.0    25.0     69.0     85.0        78.0
215      1    77.0    38.0     63.0     83.0        75.0
217      4    84.0    24.0     39.0     62.0        64.0
218      3    84.0    29.0     62.0     52.0        72.0
219      1    77.0    34.0     75.0     89.0        70.0
220      8    87.0    42.0     83.0     80.0        84.0
221      1    94.0    43.0     80.0     80.0        66.0
223      1    90.0    37.0     75.0     80.0        80.0
224      8    57.0    35.0     86.0     99.0        68.0
226      1    70.0    35.0     78.0     82.0        74.0
228      3    84.0    28.0     58.0     91.0        82.0
229      1    80.0    37.0     75.0     86.0        79.0
230      1    90.0    29.0     79.0     79.0        74.0

In [39]:
X=df1.iloc[:,2:5].values
Y=df1.iloc[:,1].values

In [40]:
df1.dtypes

Grade           int32
CA_100        float64
MTT_50        float64
ETT_100       float64
ETP_100       float64
Course_Att    float64
dtype: object

In [41]:
#using the elbow method to find no. of clusters
from sklearn.cluster import KMeans
dis=[]
for i in range(1,10,1):
    km=KMeans(n_clusters=i)
    y_km=km.fit_predict(X)
    dis.append(km.inertia_)
    print(km.inertia_)

    
    
a=np.arange(1,10,1)
plt.plot(a,dis)
plt.grid()
plt.show()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').