In [2]:
#IMPORTING THE LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib
import seaborn as sns

In [3]:
#IMPORTING THE DATASET
df=pd.read_csv("final_dataset.csv")

In [4]:
df.head(5)
#df.Medium.value_counts()

,Termid,Regd No,Course,Grade,CA_100,MTT_50,ETT_100,ETP_100,Course_Att,MHRDName,...,CA_3,CA_4,Height,Weight,ScholarType,Direction,Gender,Medium,CourseType,ProgramType
0,318192,1101776,KVY1,O,87.0,39.0,82.0,89.0,88.0,Bachelor of Science (Honours) (Agriculture),...,1.0,0.0,181,65,Hostler,North,Female,Hindi,Theory,UG
1,318192,1101776,KVY147,A+,87.0,47.0,65.0,85.0,82.0,Bachelor of Science (Honours) (Agriculture),...,0.0,1.0,181,65,Hostler,North,Female,Hindi,Theory,UG
2,318192,1101776,KVY148,B+,84.0,29.0,63.0,77.0,76.0,Bachelor of Science (Honours) (Agriculture),...,3.0,5.0,181,65,Hostler,North,Female,Hindi,Theory,UG
3,318192,1101776,KVY2,A+,NaN,NaN,NaN,82.0,74.0,Bachelor of Science (Honours) (Agriculture),...,NaN,NaN,181,65,Hostler,North,Female,Hindi,Practical,UG
4,318192,1101776,KVY3,A+,87.0,34.0,68.0,89.0,76.0,Bachelor of Science (Honours) (Agriculture),...,2.0,17.0,181,65,Hostler,North,Female,Hindi,Theory,UG

In [5]:
df["MHRDName"].value_counts().head()

Bachelor of Science (Honours) (Agriculture)                                                     7707
Bachelor of Technology in Computer Science and Engineering (Big Data)                           5493
Bachelor of Technology (Computer Science and Engineering)                                       4900
Bachelor of Technology in Computer Science and Engineering (Android Application Development)    4324
Bachelor of Technology in Electronics and Communication Engineering (Internet of Things)        3917
Name: MHRDName, dtype: int64